<div class="root">
    <div class="main">
        <div class='left'>
            <h1>QR BASED <span>ATTENDANCE</span> <br /> SYSTEM</h1>
            <p class="text">We bring you a hassle free attendance experience. <br />
                <span class="attendazz">ATTENDAZZZ</span> is the new era attendance app for future generation. <br /> It
                uses new advanced technology to give you a smooth experience. <br /> We are here to make your attendance
                easier and a lot more fun.
            </p>
            <button class='app'>Get App</button>
        </div>
        <div id='QrImg'>
            <img class='QrImg' [src]="imagePath" alt="" />
        </div>
        <div class="useless">
        </div>
    </div>
    <div class="image">
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fidentimetrics.net%2Fimages%2Fattendance-1.jpg&f=1&nofb=1&ipt=563cc1903c6a8e46fc39c2d227d09e85c7e3537ea8f003b95c163545f2c865f0&ipo=images"
            class="hands" alt="Error 404" />
        <div class="content">
            <img src="https://cdn-icons-png.flaticon.com/128/185/185578.png" alt="Uh - Oh!" id='classroom' />
            <img src="https://cdn-icons-png.flaticon.com/128/7202/7202963.png" alt="Uh - Oh!" id='qr' />
            <div class="text">
                <h2>Taking Attendance becomes easy.</h2>
                <p>No need of pen , paper or raising hands. Just open you Attendazz app and scan the QR Code. <br />
                    By scanning QR , students will be marked as present. It will capture real time image of <br />
                    students and as well as Students will get there class notes handy with themselves.</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="services">
        <p>
        <h3>Services we Provide : </h3>
        <ol>
            <li>Generate QR for the students.</li>
            <li>more organized and informative.</li>
            <li>Get regular updates and reminder for your upcoming classes.</li>
            <li>get your professor's notes with yourself all the time.</li>
            <li>learn more about the new technologies world is working with.</li>
        </ol>
        <p class="services-we-provide">
            <img src="https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHRlY2hub2xvZ3l8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=600"
                alt="Uh - Oh!" id='services-we-provide' />
        </p>
    </div>
</div>
<div id="footer">
    <div class="footer">
        <p class="first">
        <ul>
            <li>
                <h5>Attendazz</h5>
            </li>
            <li>Your attendance buddy.</li>
        </ul>
    </div>
    <div class="foot-icons">
        <i class="github" nz-icon></i>
        <i class="twitter" nz-icon></i>
    </div>
    <div class="foot">
        <p class="second">
            <li>About</li>
            <li>Report an issue</li>
            <li>Blog</li>
            <li>Cookies</li>
        </p>
    </div>
    <p id="copyright">
    <h4>Copyright &copy; Reserved Attendazz.com</h4>
</div>
