<nav>
  <div class="navbar-brand">
    <h1 class="hero">Atte<span>N</span>dazzz</h1>
  </div>
  <div class="navbar-menu">
    <ul>
      <li><a routerLink="/body">Home</a></li>
      <li><a>About</a></li>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="navbar-buttons">
    <button
      class="register"
      (click)="goToRegister()"
      routerLink="/register"
      style="gap: 12px"
    >
      Register
    </button>
    <button class="SignIn" (click)="goToLogin()" routerLink="/login">
      SignIn
    </button>
  </div>
</nav>
