<div class="login-page">
    <div class="form">
        <form class="login-form" (ngSubmit)="onSubmit()">
            <input type="email" placeholder="email" formControlName="email" required />
            <input type="password" placeholder="password" formControlName="password" required />
            <button type="submit">login</button>
            <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
            <p class="message"><a routerLink="/forgot-password">Forgot password?</a></p>
        </form>
    </div>
</div>
