.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.title {
    margin-top: 50px;
    font-size: 36px;
}

.form-group {
    margin-top: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[disabled] {
    background-color: lightgray;
    cursor: not-allowed;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    border: none;
    cursor: pointer;
}

/* Responsive styles */

@media only screen and (max-width: 600px) {
    .title {
        font-size: 28px;
    }

    label {
        font-size: 16px;
    }

    input {
        font-size: 16px;
    }

    button {
        font-size: 16px;
    }
}
